* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 30px;
}

div {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 16px;
    font-size: 24px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(7, 7, 220);
    color: #fff;
}

button:hover {
    background-color: rgb(8, 8, 192);
}
